:root {
	--spinner-width: 300px;
	--spinner-height: 100px;

/* 	--colour-background: hsla(18, 97%, 55%, 1); */
	--colour-background: hsl(18, 97%, 5%);
	--colour-foreground: white;
}

html {
	font-family: 'Gill Sans';
	font-size: 125%; /* 20px */
}

body {
	background-color: var(--colour-background);
	box-sizing: border-box;
	color: var(--colour-foreground);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 1rem;
}

header {
	color: var(--colour-foreground);
	text-align: center;
	text-transform: uppercase;
}

h1 {
	font-family: 'Monoton';
	font-size: 2rem;
	font-weight: normal;
	margin-bottom: 0;
}

h2 {
	font-size: 1rem;
	margin-top: 0.5em;
/* 	font-weight: normal; */
}

.controls {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.controls > * {
	position: relative;
}

.controls__spinner {
	flex: 1;
}

.big-button {
	--button-size: 5rem;

	border: none;
	border-radius: 50%;
	color: inherit;
	display: block;
	font: inherit;
	height: var(--button-size);
	width: var(--button-size);
	margin: 0 auto;
}

.big-button:active {
	transform: translate(1px, 2px);
}

.spinner {
	min-height: var(--spinner-height);
	width: var(--spinner-width);
	perspective: 500px;
}

.spinner__list-container {
	position: absolute;
	top: 50%;
}

.spinner__list {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	transform-style: preserve-3d;
	transform-origin: 0 0;
}

.spinner__item {
	box-sizing: border-box;
	padding: 0.25em;
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: var(--spinner-width);
}


/*** THEME: SydCSS ***/

.big-button--theme-sydcss {
	--button-size: 10rem;
	--hue: 0;

	background-image: radial-gradient(at 48% 48%, hsl(var(--hue),100%,70%), hsl(var(--hue),100%,50%) 55%, hsl(var(--hue),100%,0%));
	box-shadow: 1px 3px 10px 2px rgba(128,128,128,0.3);
	font-size: 2em;
}

.big-button--theme-sydcss:focus {
	outline: none;
	border: 1px solid hsl(18, 97%, 50%);
}

.big-button--theme-sydcss:active {
	transform: none;
	background-image: radial-gradient(at 52% 52%, hsl(var(--hue),100%,70%), hsl(var(--hue),100%,50%) 55%, hsl(var(--hue),100%,0%));
	box-shadow: inset 1px 3px 10px 2px rgba(0,0,0,0.3);
	padding: 2px 0 0 2px;
}


.spinner--theme-sydcss {
	--spinner-width: 400px;

	border: none;
	font-size: 1.65em;
	/* 	font-family: 'Fira Sans'; */
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	clip-path: ellipse(58% 230%);
}

.spinner--theme-sydcss .spinner__item {
	background-color: hsl(18, 97%, 60%, 1);
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.05));
	color: hsla(198, 100%, 95%, 1);
	padding: 0.5em 0.75em;
}

.spinner--theme-sydcss .spinner__overlay {
	position: absolute;
	pointer-events: none;
	width: 100%;
	height: 180px;
	top: 50%;
	transform: translateY(-50%) translateZ(100px);

	--cf-bg: var(--colour-background);
	--cf-dark: rgba(0, 0, 0, 0.6);
	--cf-light: rgba(0, 0, 0, 0.2);
	--cf-clear: rgba(0, 0, 0, 0);
	background-image:
		linear-gradient(to bottom,
			var(--cf-bg) 7%,
			var(--cf-dark) 0,
			var(--cf-light) 20%,
			var(--cf-clear) 40% 60%,
			var(--cf-light) 80%,
			var(--cf-dark) 93%,
			var(--cf-bg) 0);
	background-repeat: no-repeat;
}

.spinner--theme-sydcss {
	clip-path: ellipse(58% 230%);
}


/*** THEME: Debug ***/

.spinner--theme-debug {
	border: 1px solid #c66;
	margin: 100px auto 0;
}

.spinner--theme-debug .spinner__item {
	background-color: rgba(200, 255, 200, 0.9);
	border: 1px solid #6c6;
}

.spinner--theme-debug .spinner__item.disabled {
	background-color: lightgrey;
}
